<% provide(:title, "How to use") %>
<%= render 'users/top' %>
<div id="beginner">
  <div class="title">
    <h1 class="title_main">初めて<a href="#"><span style="color: darkorange; ">住み心地.com</span></a>を<br class="common__sp-only">ご覧頂く方へ</h1>
    <h3 class="title_text">ここでは<span style="color: darkorange; ">住み心地.com</span>の<br>ご利用方法を解説させて頂きます。</h3>
  </div>
  <div id="index">
    <h3 class="index_title">【目次】</h3>
    <ul class="index_lists">
      <a class="hover" href="#what"><li class="list">1. <span style="color: darkorange; ">住み心地.com</span>とは?</li></a>
      <a class="hover" href="#how"><li class="list">2. レビューを投稿をしよう！</li></a>
    </ul>
  </div>
  <div id="what">
    <h2 class="title"><span style="color: darkorange; ">住み心地.com</span>は、<br class="common__sp-only"> 気になる国や地域の<br class="common__sp-only">生活経験のレビューを見て、<br>移住や留学先の選択や、<br class="common__sp-only">出発の準備に役立てもらう<br class="common__sp-only">ためのサービスです。</h2>
    <%= image_tag 'roots/home_photo.png',class:"image"%>
  </div>
  <div id="how">
    <div class="title">
      <h2>レビューを投稿をしよう！</h2>
      <p>レビューを投稿する方法を簡単に説明します。<p>
    </div>
    <div class="explain">
      <div class="explain_title">
        <h2>STEP1 アカウントを作成しよう！</h2>
      </div>
      <div class="explain_text">
        <p>まずはじめるをクリックしてユーザー登録を行ってください。</p>
        <p style="font-weight: bold; font-size: 14px; color: red;">Googleアカウントで Log in するとユーザー登録を省略できます。</p>
        <% unless logged_in? %>
          <%= react_component("Signup", {
              signup: users_path,
              login: login_path,
              authenticityToken: form_authenticity_token,})
          %>
        <% end %>
      </div>
    </div>

    <div class="explain">
      <div class="explain_title">
        <h2>STEP2 Mapページを開く</h2>
      </div>
      <div class="explain_text">
        <p><span class="bold">右上にあるボタン</span>をクリックしてから<span class="bold">Map</span>をクリックするか、<br><span class="bold">このページの最後</span>の<span class="bold" style="color: red;">レビューを投稿する</span>をクリックすると、<br>
        地図が表示されたページに遷移します。<br><span style="color: red;">Log inしていない場合、このボタンは表示されません</span> </p>
        <p>※この写真はMap pageの見本です。</p>
        <%= image_tag 'roots/map_photo.png', class: "image"%>
      </div>
    </div>

    <div class="explain">
      <div class="explain_title">
        <h2>STEP3 検索フォームに場所を入力</h2>
      </div>
      <div class="explain_text">
        <p>検索フォームに地名や国を入力して、虫眼鏡アイコンを押すと地図が変化します</p>
      </div>
    </div>
    <div class="explain">
      <div class="explain_title">
        <h2>STEP4 メニューを表示</h2>
        <div class="explain_text">
          <p>地図の中心に表示されている赤いピンをクリックしてメニューを表示させてください。</p>
          <%= image_tag 'roots/click_menu.png', class: "image small"%>
          <p style="font-weight: bold; color: red;">メニューから、ピンを移動させたり、レビューを投稿したりできます。</p>
        </div>
      </div>
    </div>

    <div class="explain">
      <div class="explain_title">
        <h2>LAST STEP レビューを投稿</h2>
      </div>
      <div class="explain_text">
        <p>任意の場所にピンを移動させた後、<span style="font-weight: bold; font-size: 16px;">この場所に投稿 </span>をタッチすると、投稿フォームが表示されます。</p>
        <%= image_tag 'roots/review_form.png', class: "image small"%>
        <p>フォーム内容入力後に<span style="font-weight: bold; font-size: 16px;">投稿を送信</span>をタッチして、投稿完了です。
      </div>
      <% if logged_in? %>
        <a href="/reviews/new"><span class="link">レビューを投稿する</span></a>
      <% else %>
      <p  style="
        margin: 5px 0; font-size: 16px; font-weight: bold;"
      >ユーザー登録をして、<br>初めての投稿をしてみよう！</p>
      <%= react_component("Signup", {
        signup: users_path,
        login: login_path,
        authenticityToken: form_authenticity_token,
        })
      %>
    <% end %>
    </div>
  </div>
</div>
