<div id="root">
  <!-- pc用layout -->
  <div class="common__pc-only">
    <%= image_tag 'roots/home_photo.png', class: "image"%>
    <div class="window">
      <div class="window_title">
        <%= image_tag 'roots/logo.png', class: "image"%>
      </div>
      <h3 class="window_description">気になる国や街の住み心地を<br>チェック！</h3>
      <h3 class="window_description">留学や移住の前に<br>レビューを見てみよう！</h3>
      <% if logged_in? %>
        <h2 style="margin-bottom: 10px;">Welcome!</h2>
        <h2> <%= @current_user.name %></h2>
        <!--<%= link_to "Log out", logout_path , method: :post %> -->
      <% else %>
        <div class="window_signup">
          <%= react_component("Signup", {
            signup: users_path,
            login: login_path,
            authenticityToken: form_authenticity_token,})
          %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- sp用layout -->
  <div class="common__sp-only" >
    <%= image_tag 'roots/home_photo_sp.png', class: "image"%>
    <div class="window">
      <div class="window_title">
        <%= image_tag 'roots/logo.png', class: "image"%>
      </div>
      <h3 class="window_description">気になる国や街の住み心地を<br>チェック！</h3>
      <h3 class="window_description">留学や移住の前に<br>レビューを見てみよう！</h3>
      <% if logged_in? %>
        <h3>Welcome!<br><%= @current_user.name %></h3>
        <!--<%= link_to "Log out", logout_path , method: :post %> -->
      <% else %>
        <div class="window_signup">
          <%= react_component("Signup", {
            signup: users_path,
            login: login_path,
            authenticityToken: form_authenticity_token,})
          %>
        </div>
      <% end %>
    </div>
  </div>

  <%# ここから下はmain%>
  <div class="main">
    <%= image_tag 'roots/home_icon.png', class: "main_icon"%>
    <a href="/beginner/#what">
      <h1 class="main_question"><span><%= image_tag 'roots/logo.png', class: "image", width: "200px" %></span>ってどんなサービス？</h1>
    </a>
    <div class="main_explains">
      <div class="explain">
        <h2 class="explain_title">現地の生活経験を<br>場所毎に住み心地などの評価と共に投稿しよう！</h2>
        <div class="explain_text">
          <p>ユーザーが自分自身の生活経験を通して、感じたその土地の生活へのレビューを<br><span style="font-weight: bold; color: darkorange; font-size: 18px;">住み心地</span>という評価とともに投稿できるサービスです。</p>
        </div>
      </div>
      <div class="explain">
        <h2 class="explain_title">興味のある国や街を<br>検索して投稿を見てみよう！</h2>
        <p class="explain_text">行きたい国や留学してみたい国や街を選ぶ時に<br class="common__sp-only">経験者の投稿を見て参考にしてみよう！</p>
      </div>
    </div>
  </div>
</div>
