<h1 style="margin:30px 0;">Home</h1>
<% if logged_in? %>
  <%= react_component("HelloWorld", {greeting: @current_user.name}) %>
  <%= "Welcome to App! Mr #{@current_user.name}" %>
  <%= link_to "Log out", logout_path , method: :post %>
<% else %>
  <%= react_component("Signup", {
  url: users_path,
  authenticityToken: form_authenticity_token,}) %>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "Log in", login_path %>
<% end %>
