
<%= react_component("Reviewpins", {
    url: "/reviews.json",
  })  %>

<h1>Reviews</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>reason</th>
      <th>duration</th>
      <th>good</th>
      <th>bad</th>
      <th>advice</th>
      <th>address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= review.reason %></td>
        <td><%= review.duration %></td>
        <td><%= review.good %></td>
        <td><%= review.bad %></td>
        <td><%= review.advice %></td>
        <td><%= review.spot.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
