<div class="title">
  <h1>あなたの海外経験をシェアをしよう！</h1>
  <p><%= "current_user :#{@current_user.name}" %></p>
</div>
 <!-- 検索formもreactに内蔵
<%= form_with( url: check_place_path, remote: true) do |f| %>
 <div class="field" style="display:inline-block;" >
    <%= f.text_field :keyword, :placeholder => "場所を入力してください" , class:"window" %>
  </div>
   <div class="actions" style="display:inline-block;">
    <%= f.submit value="検索" %>
  </div>
<% end %>
-->
<div id="google-map">
  <%= react_component("Map", {
    authenticityToken: form_authenticity_token,
  })  %>
</div>
