<div class="title">
  <h1>あなたの海外経験をシェアをしよう！</h1>
</div>
<%= form_with( url: check_place_path, local: true) do |f| %>
  <div class="field">
    <%= f.text_field :keyword, :placeholder => "場所を入力してください" %>
  </div>
   <div class="actions">
    <%= f.submit value="検索" %>
  </div>
<% end %>
<% if session[:lat] && session[:lng] %>
  <%= "session[:lat]=#{session[:lat]} " + " session[:lng]=#{session[:lng]}" %>
  <%= react_component("Map", {
      center: { lat: session[:lat], lng: session[:lng] } }) %>
<% else %>
  <%= react_component("Map", {
      center: { lat: session[:lat], lng: session[:lng]} }) %>
<% end %>
