<% provide(:title, "投稿情報") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Reason:</strong>
  <%= @review.reason %>
</p>
<p>
  <strong>address:</strong>
  <%= @review.spot.address%>
</p>
