<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keyword" content="住み心地,海外経験をシェア">
    <meta name="description" content="あなたの海外経験を通して感じた住み心地を投稿してみよう！　あなたが気になる街の住み心地をチェック！">
    <!-- ogp関連 -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="住み心地.com あなたの感じた住み心地を共有しよう！" />
    <meta property="og:description" content="あなたの海外経験を通して感じた住み心地を投稿してみよう！　あなたが気になる街の住み心地をチェック！" />
    <meta property="og:site_name" content="住み心地.com" />
    <meta property="og:image" content="" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="body">
      <% flash.each do |key, value| %>
      <%= content_tag :div, value, class:"flash "+key, id:"flash" %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render "layouts/footer" %>
    <script>
      //iphone,ipadで勝手に入力フォームがズームされるのを防ぐ
      var ua = navigator.userAgent.toLowerCase();
      var isiOS = (ua.indexOf('iphone') > -1) || (ua.indexOf('ipad') > -1);
      if(isiOS) {
        var viewport = document.querySelector('meta[name="viewport"]');
        if(viewport) {
          var viewportContent = viewport.getAttribute('content');
          viewport.setAttribute('content', viewportContent + ', user-scalable=no');
        }
      }
    </script>

  </body>
</html>
